[Desktop Entry]
Name=Finance Planner
Encoding=UTF-8
Type=Application
NoDisplay=false
Terminal=false
Exec=gtk-finance-planner
Icon=dev.cmcode.gtk-finance-planner
Comment=Tracks monthly subscriptions, bills, and other things.
Categories=
